<style scoped>
    .config_main {
        padding: 20px;
        background: #fff;
        box-shadow: 5px 5px 10px #eee;
    }

    .config_main .block {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        font-size:13px;
    }

    .config_main .block .left {
        width: 100px;
        color: #666;
    }

    .config_main .block .right {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .comm_build_textarea{
        padding:10px;
        width:950px;
        height:300px;
    }
    .btns{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top:30px;
    }
    .item_task{
        width:1200px;
    }
    .item_task .title{
        font-size:25px;
        font-weight: 300;
    }
</style>
<div class="content" id="team" v-cloak>
    <el-row>
        <el-col :span="12">
            <div class="grid-content bg-purple com_title">开始构建</div>
        </el-col>
    </el-row>
    <div class="config_main mt30">
        <div class="block">
            <div class="bottom">
                <div class="top mb20">资产列表</div>
                <el-table :data="assetslist" border style="width:1100px;font-size:12px;">
                    <el-table-column prop="name" label="资产名称" width="200">
                    </el-table-column>
                    <el-table-column prop="outer_ip" label="外网IP" width="150">
                    </el-table-column>
                    <el-table-column prop="lan_ip" label="内网IP" width="150">
                    </el-table-column>
                    <el-table-column prop="user" label="用户名" width="80">
                    </el-table-column>
                    <el-table-column label="操作">
                        <template slot-scope="scope">
                            <div>
                                <el-button @click="showSshKey(scope.row)" type="primary" size="mini">单机部署
                                </el-button>
                            </div>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </div>
    </div>
    <!-- main -->
    <div class="config_main mt30" v-for="(item,index) in tasklist" :key="index">
        <div class="item_task">
            <div class="title">{{item.task_name}}</div>
            <el-row class="mt30">
                <el-col :span="12">
                    <div class="block">
                        <div class="left">任务类型</div>
                        <div class="right">
                            {{item.task_type=='git'?'git hooks任务':''}}{{item.task_type=='shell'?'shell脚本任务':''}}</div>
                    </div>
                </el-col>
                <el-col :span="12">
                    <div class="block">
                        <div class="left">git部署方式</div>
                        <div class="right">{{item.task_type=='git'?'https方式':''}}{{item.task_type=='ssh'?'ssh方式':''}}</div>
                    </div>
                </el-col>
            </el-row>
            <el-row class="mt20">
                <el-col :span="12">
                    <div class="block">
                        <div class="left">shell脚本地址</div>
                        <div class="right">{{item.shell_path}}</div>
                    </div>
                </el-col>
            </el-row>
    
            <div class="block mt30">
                <div class="left">shell脚本内容</div>
                <div class="right">
                    <div :id="'editor_'+index" class="comm_build_textarea"></div>
                </div>
            </div>
            <div class="btns">
                <el-button type="danger" @click="generateBuildConfig(item)" class="mb20" plain>生成构建配置</el-button>
                <el-button type="primary" @click="submitConfigs(item)" class="mb20">全量部署</el-button>
                <el-button type="default" @click="goBack" class="mb20">返回</el-button>
            </div>
        </div>
    </div>
</div>
<script>var require = { paths: { 'vs': 'https://cdn.bootcss.com/monaco-editor/0.16.2/min/vs' } };</script>
<script src="//cdn.bootcss.com/monaco-editor/0.16.2/min/vs/loader.js"></script>
<script>
    new Vue({
        el: '#team',
        data: function () {
            return {
                id: util.getQueryString('id'),
                details: {},
                assetslist: [],
                dialogTableVisible: false,
                options: [{
                    value: 'git',
                    label: 'GIT任务'
                }, {
                    value: 'shell',
                    label: 'SHELL任务'
                }],
                task_name: '',
                task_type: '',
                tasklist: [],
                editableTabsValue: 0,
                sshkey: {
                    dialogSshKeyVisible: false,
                    sshKey: '',
                    email: '',
                    assetsItem: {},
                },
            }
        },
        mounted() {
            this.itemdetail();
        },
        methods: {
            runMonaco(id, data){
                //载入Monaco
                let editor = null;
                const _this = this;
                const moId = `editor_${id}`;
                require(['vs/editor/editor.main'], function () {
                    //得到支持的语言
                    var modesIds = monaco.languages.getLanguages().map(function (lang) { return lang.id }).sort();
                    //创建编辑器
                    editor = monaco.editor.create(document.getElementById(moId), {
                        //内容
                        value: data,
                        //语言
                        language: 'shell',
                        scrollBeyondLastLine: false,
                        readOnly: true,
                        automaticLayout: true,
                        //主题，三款：vs、vs-dark、hc-black
                        theme: 'vs-dark',
                        //代码略缩图
                        minimap: {
                            enabled: true
                        }
                    });
                });
            },
            itemdetail() {
                util.ajax({
                    type: 'get',
                    url: `${config.baseApi}api/v1/application/itemdetail`,
                    data: {
                        id: this.id,
                    },
                    success: data => {
                        this.details = data.data;
                        this.assetslist = data.data.assets_list || [];
                        const tasklist = data.data.task_list || [];
                        if (tasklist && tasklist.length) {
                            tasklist.forEach((item, index) => {
                                this.runMonaco(index, item.shell_body)
                            })
                        }
                        this.tasklist = tasklist;
                    }
                })
            },
            addNewTask() {
                this.task_type = '';
                this.task_name = '';
                this.dialogTableVisible = true;
            },
            submitTask() {
                if (!this.task_name) {
                    popup.alert({ title: '请填写任务名称!' })
                    return;
                }
                if (!this.task_type) {
                    popup.alert({ title: '请选择任务类型!' })
                    return;
                }
                this.dialogTableVisible = false;
                this.editableTabsValue = this.tasklist.length + '';
                this.tasklist.push({
                    task_name: this.task_name,
                    task_type: this.task_type,
                    git_type: 'https',
                })
            },
            removeTab(targetName) {
                popup.confirm({
                    title: `确定删除此任务吗？`, yes: () => {
                        let tabs = this.tasklist;
                        let activeName = this.editableTabsValue;
                        activeName = tabs[targetName + 1] ? targetName : activeName - 1;
                        this.editableTabsValue = activeName + '';
                        this.tasklist = tabs.filter((tab, index) => index != targetName);
                    }
                })
            },
            deleteItemTask(item, index) {
                popup.confirm({
                    title: `确定删除${item.task_name}任务吗？`, yes: () => {
                        this.editableTabsValue = '0';
                        this.tasklist.splice(index, 1);
                    }
                })
            },
            goBack() {
                location.href = "/build"
            },
            submitConfigs() {
                
            },
            generateBuildConfig(item){
                util.ajax({
                    url: `${config.baseApi}api/v1/build/generateBuildConfig`,
                    data: {
                        id: this.id,
                        item: item,
                        assetslist:this.assetslist,
                    },
                    success: data => {
                        popup.miss({ title: '操作成功!' })
                    }
                })
            },
        }
    })
</script>