<style scoped>
    .config_main {
        padding: 20px;
        background: #fff;
        box-shadow: 5px 5px 10px #eee;
    }
    .config_main .row-col{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .config_main .block {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        font-size:14px;
    }

    .config_main .block .left {
        width: 150px;
        color: #999;
        font-size:12px;
    }

    .config_main .block .right {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .comm_build_textarea{
        width:950px;
        height:300px;
    }
    .btns{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top:30px;
    }
    .item_task{
        width:1200px;
    }
    .item_task .title{
        font-size:25px;
        font-weight: 300;
    }
</style>
<div class="content" id="team" v-cloak>
    <el-row>
        <el-col :span="12">
            <div class="grid-content bg-purple com_title">开始构建</div>
        </el-col>
    </el-row>
    <div class="config_main mt30">
        <div class="block">
            <div class="bottom">
                <div class="top mb20">资产列表</div>
                <div class="mb10">
                    <el-button @click="serverConfigs()" type="primary" icon="el-icon-s-tools" size="small">资产配置</el-button>
                    <span class="ml10 light"><i class="el-icon-warning fs-16 mr5 primary"></i>默认执行所有资产项操作，若有选择则执行选中资产项的相关操作(例如：部署、生成构建配置等操作)。
                    </span>
                </div>
                <el-table :data="assetslist" ref="assetsTable" border @selection-change="handleSelectionChange" style="width:auto;font-size:13px;">
                    <el-table-column type="selection" width="55"></el-table-column>
                    <el-table-column prop="name" label="资产名称" width="200"></el-table-column>
                    <el-table-column prop="code" label="资产编码" width="200"></el-table-column>
                    <el-table-column prop="outer_ip" label="外网IP" width="150"></el-table-column>
                    <el-table-column prop="lan_ip" label="内网IP" width="150"></el-table-column>
                    <el-table-column prop="user" label="用户名" width="80"></el-table-column>
                    <el-table-column label="操作" width="120">
                        <template slot-scope="scope">
                            <div>
                                <el-button @click="serverConfigs(scope.row)" type="primary" size="mini" plain>资产配置</el-button>
                            </div>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </div>
    </div>
    <!-- main -->
    <div class="config_main mt30" v-for="(item,index) in tasklist" :key="index">
        <div class="item_task">
            <div class="title">{{item.task_name}}</div>
            <el-row class="mt30">
                <el-col :span="12">
                    <div class="block">
                        <div class="left">任务类型</div>
                        <div class="right">
                            {{item.task_type=='git'?'git hooks任务':''}}{{item.task_type=='shell'?'shell脚本任务':''}}</div>
                    </div>
                </el-col>
                <el-col :span="12">
                    <div class="block">
                        <div class="left">git部署方式</div>
                        <div class="right">{{item.task_type=='git'?'https方式':''}}{{item.task_type=='ssh'?'ssh方式':''}}</div>
                    </div>
                </el-col>
            </el-row>
            <el-row class="mt20">
                <el-col :span="12">
                    <div class="block">
                        <div class="left">shell脚本路径</div>
                        <div class="right">{{item.shell_path}}</div>
                    </div>
                </el-col>
                <el-col :span="12">
                    <div class="block">
                        <div class="left">shell脚本参数</div>
                        <div class="right">{{item.shell_opction}}</div>
                    </div>
                </el-col>
            </el-row>
            <el-row class="mt20">
                <el-col :span="12">
                    <div class="block">
                        <div class="left">shell脚本运行命令</div>
                        <div class="right">{{'sh ' + item.shell_path +' '+ (item.shell_opction?item.shell_opction:'')}}</div>
                    </div>
                </el-col>
                <el-col :span="12">
                    <div class="block">
                        <div class="left">shell脚本上传方式</div>
                        <div class="right">
                            {{item.shell_write_type == 1 ? '本地新建文件并上传方式' :''}}
                            {{item.shell_write_type == 2 ? 'shell窗口命令行创建方式' :''}}
                        </div>
                    </div>
                </el-col>
            </el-row>
            <el-row class="mt20">
                <el-col :span="12">
                    <div class="block">
                        <div class="left">发布前是否先做备份</div>
                        <div class="right">
                            <el-switch v-model="item.is_backups"></el-switch>
                        </div>
                    </div>
                </el-col>
                <el-col :span="12">
                    <div class="block">
                        <div class="left">应用所在位置</div>
                        <div class="right">{{item.project_path}}</div>
                    </div>
                </el-col>
            </el-row>
            <el-row class="mt20">
                <el-col :span="12">
                    <div class="block">
                        <div class="left">应用备份的路径</div>
                        <div class="right">{{item.backups_path}}</div>
                    </div>
                </el-col>
            </el-row>
            <el-row class="mt20">
                <el-col :span="24">
                    <div class="block">
                        <div class="left">备注</div>
                        <div class="right">{{item.remarks}}</div>
                    </div>
                </el-col>
            </el-row>
            <div class="block mt30">
                <div class="left">shell脚本内容</div>
                <div class="right">
                    <div :id="'editor_'+index" class="comm_build_textarea"></div>
                </div>
            </div>
            <div class="btns mb20">
                <el-button type="primary" @click="deployApplications(item,1)">全量部署</el-button>
                <el-button type="success" @click="deployApplications(item,2)" plain>部分部署</el-button>
                <el-button type="primary" @click="updageAppConfigs(index)" plain>修改构建配置</el-button>
                <el-button type="danger" @click="generateBuildConfig(item)" plain>生成构建配置</el-button>
                <el-button type="default" @click="goBack">返回</el-button>
            </div>
        </div>
    </div>

    <!-- xtrem弹出框 -->
    <div class="comm_shell_model" v-show="dialogTableVisible">
        <div class="mask" @click="dialogTableVisible=false"></div>
        <div class="comm_shell_model_content">
            <span class="el-icon-close close" @click="dialogTableVisible=false"></span>
            <span :class="{'el-icon-menu':model_icon===1,'el-icon-s-unfold':model_icon===2}"  class="close menu" @click="handleShellModel(3)"></span>
            <span class="el-icon-plus close plus" @click="handleShellModel(1)"></span>
            <span class="el-icon-minus close minus" @click="handleShellModel(2)"></span>
            <div class="comm_shell_navs">
                <div class="item" v-for="(item,index) in assetslist" :key="index" :class="{'active':shell_model_item===index}" @click="shell_model_item=index">
                    {{item.name}}
                </div>
            </div>
            <div class="comm_content_body">
                <div class="com_content_list" v-for="(item,index) in assetslist" :key="index" >
                    <div 
                        class="mt20 terminal" 
                        :style="{zIndex:shell_model_item==index?10:1}"
                        :id="'terminal'+index"></div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>var require = { paths: { 'vs': 'https://cdn.bootcss.com/monaco-editor/0.16.2/min/vs' } };</script>
<script src="//cdn.bootcss.com/monaco-editor/0.16.2/min/vs/loader.js"></script>
<script>
    let xteamlist = null;
    let socket = null;
    new Vue({
        el: '#team',
        data: function () {
            return {
                id: util.getQueryString('id'),
                index: util.getQueryString('index'),
                assetslist: [],
                dialogTableVisible: false,
                tasklist: [],
                multipleSelection:[],
                type:'',
                shell_model_item: 0,
                model_icon:1,
            }
        },
        mounted() {
            this.itemdetail();
        },
        methods: {
            runMonaco(id, data){
                //载入Monaco
                let editor = null;
                const _this = this;
                const moId = `editor_${id}`;
                require(['vs/editor/editor.main'], function () {
                    //得到支持的语言
                    var modesIds = monaco.languages.getLanguages().map(function (lang) { return lang.id }).sort();
                    //创建编辑器
                    editor = monaco.editor.create(document.getElementById(moId), {
                        //内容
                        value: data,
                        //语言
                        language: 'shell',
                        scrollBeyondLastLine: false,
                        readOnly: true,
                        automaticLayout: true,
                        //主题，三款：vs、vs-dark、hc-black
                        theme: 'vs-dark',
                        //代码略缩图
                        minimap: {
                            enabled: true
                        }
                    });
                });
            },
            itemdetail() {
                util.ajax({
                    type: 'get',
                    url: `${config.baseApi}api/v1/application/itemdetail`,
                    data: {
                        id: this.id,
                    },
                    success: data => {
                        this.assetslist = data.data.assets_list || [];
                        const tasklist = data.data.task_list || [];
                        if (tasklist && tasklist.length) {
                            tasklist.forEach((item, index) => {
                                item.is_backups = item.is_backups == 1 ? true : false;
                                this.runMonaco(index, item.shell_body)
                            })
                        }
                        this.tasklist = tasklist;
                        setTimeout(() => { if (this.index) { this.$refs.assetsTable.toggleRowSelection(this.assetslist[this.index], true); } })
                    }
                })
            },
            goBack() {
                location.href = "/build"
            },
            deployApplications(item,type) {
                if(type === 2 && !this.multipleSelection.length){
                    popup.alert({title:'请先勾选需要部署的服务器!'});
                    return;
                }

                let startType = '';

                if(!xteamlist) {
                    // 第一次点击发布
                    startType = 'new';
                } else if(type === this.type && xteamlist){
                    // 第二次点击发布
                    startType = 'agein';
                } else if(type !== this.type && xteamlist) {
                    // 切换了发布方式
                    startType = 'switch';
                }

                this.type = type;
                // 弹出框
                this.dialogTableVisible = true;

                setTimeout(()=>{
                    const assetsList = this.multipleSelection.length ? this.multipleSelection : this.assetslist

                    // 开始
                    const result = util.startSocketXteam({
                        taskItem: item,
                        buildType: 'buildprocess',
                        assetsList,
                        startType,
                    });
                    socket = result.socket;
                    xteamlist = result.xteamList;
                })
            },
            handleShellModel(type){
                if(type === 3){
                    if(this.model_icon === 1){
                        this.model_icon = 2;
                        type = 3;
                    }else{
                        this.model_icon = 1;
                        type = 4;
                    }
                }
                util.setSocketXteam(type, xteamlist, socket);
            },
            generateBuildConfig(item){
                util.ajax({
                    url: `${config.baseApi}api/v1/build/generateBuildConfig`,
                    data: {
                        id: this.id,
                        taskItem: item,
                        assetsList:this.assetslist,
                    },
                    success: data => {
                        popup.miss({ title: '操作成功!' })
                    }
                })
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            serverConfigs(item) {
                if (!item && !this.multipleSelection.length) {
                    popup.alert({ title: '请选择需要配置的资产!' })
                    return;
                }
                const assestsList = item ? [item] : this.multipleSelection;
                util.setStorage('session', 'assets_list_configs', JSON.stringify(assestsList));
                location.href = "/assetsconfig";
            },
            updageAppConfigs(index){
                location.href = "/appconfig?id="+this.id+'&tab='+index;
            },
        }
    })
</script>