<style scoped>
    body{background:#131313;}
    .footer{display:none;}
    #body_content{overflow:hidden;}
    .content{
        padding:0px;
        position: relative;
        display:flex;
        flex-direction: row;
        color:#fff;
        height:calc(100% + 50px);
        background:#2f2a2a;
        top:-50px;
        z-index:100;
    }
    .el-menu {border-right: none;}
    .console-side{
        width:180px;
        height:calc(100%);
        padding-right:20px;
        overflow-y:auto;
    }
    .comsole-consten{
        width:100%;
        position: relative;
    }
    .comsole-consten .navs{
        display: flex;
        flex-direction: row;
        align-items: center;
        height:30px;
        font-size:12px;
        color:#aaa;
        background:#3a3333;
    }
    .comsole-consten .navs .item{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding:0 10px;
        cursor:pointer;
    }
    .comsole-consten .navs .item span{
        display: block;
        max-width:150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right:5px;
    }
    .comsole-consten .navs .active{
        color:#fff;
    }
    .comsole-consten .navs .item i{
        cursor:pointer;
        font-size:16px;
    }
</style>
<div class="content" id="team" v-cloak>
    <div class="console-side">
        <el-menu 
            class="console-side"
            default-active="1" 
            class="el-menu-vertical-demo" 
            @open="handleOpen" 
            @close="handleClose"
            background-color="#2f2a2a" 
            text-color="#fff" 
            active-text-color="#ffd04b">
            <el-submenu index="1">
                <template slot="title">
                    <i class="el-icon-folder"></i>
                    <span>导航一</span>
                </template>
                <el-menu-item-group>
                    <template slot="title">分组一</template>
                    <el-menu-item index="1-1">选项1</el-menu-item>
                    <el-menu-item index="1-2">选项2</el-menu-item>
                </el-menu-item-group>
            </el-submenu>
            <el-menu-item index="2">
                <i class="el-icon-monitor"></i>
                <span slot="title">导航二</span>
            </el-menu-item>
        </el-menu>
    </div>
    <div class="comsole-consten">
        <div class="navs">
            <div class="item active">
                <span>官网服务器-192.168.1.1</span>
                <i class="el-icon-close"></i>
            </div>
            <div class="item">
                <span>官网服务器-192.168.1.1</span>
                <i class="el-icon-close"></i>
            </div>
        </div>
    </div>
</div>
<script>
    new Vue({
        el: '#team',
        data: function () {
            return {
               
            }
        },
        mounted() {
            $('#body_content').css('height',$(window).height() +'px');
        },
        methods: {
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
        }
    })
</script>