/*CSS Reset*/
*, *:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }
/*设置字体*/
@font-face{font-family: OpenSans;src: url('../font/OpenSans-Regular.ttf'),}
body{background: #f9fafb;font-family: 'OpenSans', sans-serif!important;}
/*字体结束*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header, hgroup, nav, section, article, aside, footer, figure, figcaption, menu, button { 
  margin: 0; padding: 0;};
body { line-height: 1.5; font-size: 14px; color: #70727C; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); outline: 0; }
h1, h2, h3, h4, h5, h6 { font-size: inherit; font-weight: normal; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
li { list-style: none; }
input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; outline: none; -webkit-appearence: none; -ms-appearence: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { border: none; background: none; -webkit-appearance: none; outline: none; }
a { -webkit-touch-callout: none; text-decoration: none; outline: 0; color:#8776f7;text-decoration:none;}
em, i { font-style: normal; }
iframe { display: none; }

[v-cloak] {display: none; }

.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt50{margin-top:50px;}
.mt90{margin-top:90px;}
.mt200{margin-top:200px!important;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb50{margin-bottom:50px;}
.mb100{margin-bottom:100px;}
.mb200{margin-bottom:200px;}
.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml50{margin-left:50px;}
.ml100{margin-left:100px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}

.pb100{padding-bottom:100px;}
.pdl20{padding-left:20px!important;}

.lightcolor{color:#999;}
.primary{color:#409eff;}
.success{color:#67c23a;}
.warning{color:#e6a23c;}
.tipscolor{color:#e15f63;font-size:14px;}
.light{color:#999;font-size:12px;}
.red{color:red!important;}
.tc{text-align:center;}
.bold{font-weight:bold;}

.fs-12{font-size:12px;}
.fs-14{font-size:14px;}
.fs-16{font-size:16px;}
.fs-18{font-size:18px;}
.fs-22{font-size:22px;}

.fl{float:left;}
.fr{float:right;}

.w-50{width:50px!important;}
.w-80{width:80px!important;}
.w-100{width:100px!important;}
.w-200{width:200px!important;}
.w-300{width:300px!important;}
.w-500{width:500px!important;}

.common-width{
    width:1200px;
    margin:0 auto;
}

/* 等待加载样式 */
#loading{
    display:none;
    background: url(/public/img/loading.gif) rgba(12,12,12,.2) no-repeat center center;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index:10000;
}

/****阿里icon*****/
@font-face {
  font-family: 'iconfont';  /* project id 769227 */
  src: url('//at.alicdn.com/t/font_769227_f7de0h0gpza.eot');
  src: url('//at.alicdn.com/t/font_769227_f7de0h0gpza.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_769227_f7de0h0gpza.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_769227_f7de0h0gpza.woff') format('woff'),
  url('//at.alicdn.com/t/font_769227_f7de0h0gpza.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_769227_f7de0h0gpza.svg#iconfont') format('svg');
}
.iconfont {
    font-family:"iconfont";
	font-size:16px;
	font-style:normal;
	vertical-align: middle;
}

/* body content widht */
#body_content{
    overflow-y: auto;
    font-size:14px;
    margin-left:180px;
    padding-top:50px;
}

.content{
    padding:20px;
}
.com_title{
    font-size:30px;
    font-weight: 300;
}
/* common table block */
.com_table_block{
	overflow:hidden;
    background:#fff;
    box-shadow: 5px 5px 10px #eee
}
.com_table_block .table_header{
    height:50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    border-bottom:solid 1px #eee;
}
.com_table_block .l{
    font-size:15px;
}
.common_pages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:20px 0 30px;
}

.com_model_main{
    overflow:hidden;
    padding:0 10px;
}
.com_model_block{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom:20px;
    min-height:40px;
}
.com_model_block .left{
    width:100px;
}
.com_model_block .inp{
    width:250px;
}
.com_model_main .btns{
    margin-top:30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.com_top{
    background: #fff;
    padding:20px;
    margin:20px 0;
    box-shadow: 5px 5px 10px #eee
}
.com_top .inp{
    width:250px;
}

.common_tops{
    font-size:12px;
    color:#999;
}
.common_tops .el-icon-warning{
    color:#409eff;
    margin-right:6px;
}

/* 公共输入框 */
.text_comm_tarea{
    width:100%;
    height:300px;
    background:#000;
    padding:20px;
    border:solid 1px #000;
    color:#fff;
    font-size:16px;
}
/*滚动条样式*/
.text_comm_tarea::-webkit-scrollbar {
    width: 4px;     
    height: 4px;
}
.text_comm_tarea::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.6);
}
.text_comm_tarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,.1);
}

/* build model */
.comm_shell_model{}
.comm_shell_model .mask {
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,.1);
    z-index:3000;
}
.comm_shell_model .comm_shell_model_content{
    position: fixed;
    left:0;
    top:0;
    width:calc(70%);
    height: calc(80%);
    margin-left:calc(15%);
    margin-top:calc(5%);
    background:#000;
    border-radius:3px;
    overflow:hidden;
    z-index:3002;
}
.comm_shell_model .close{
    position: absolute;
    right:10px;
    top:3px;
    font-size:20px;
    cursor:pointer;
    color:#c7c7c7;
    z-index:3001;
}
.comm_shell_model .menu{
    right:150px;
}
.comm_shell_model .plus{
    right:100px;
}
.comm_shell_model .minus{
    right:50px;
}
.comm_shell_model .comm_shell_navs{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    background:#383838;
    display: flex;
    flex-direction: row;
    align-items: center;
    height:25px;
    z-index:110;
}
.comm_shell_model .comm_shell_navs .item{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right:solid 1px #aaa;
    white-space: nowrap;
    padding:0 10px;
    height:100%;
    font-size:12px;
    font-weight:300;
    cursor:pointer;
}
.comm_shell_model .comm_shell_navs .active{
    color:#000;
    background:#e0e0e0;
}
.comm_shell_model .terminal{
    position: absolute;
    left:8px;
    top:10px;
    width:calc(100% - 30px);
    height:calc(100% - 60px);
    z-index:1;
}
.comm_shell_model .comm_content_body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow:auto;
    padding: 10px;
    height:calc(95%);
    overflow:auto;
    margin-top:20px;
}
.comm_shell_model .comm_content_body::-webkit-scrollbar {
    width: 4px;     
    height: 4px;
}
.comm_shell_model .comm_content_body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.6);
}
.comm_shell_model .comm_content_body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,.1);
}
.comm_shell_model .com_content_list{
    background:#000;
}

.xterm.fullscreen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    z-index: 255;
    padding:10px;
}